body {
  font-family: 'Fredoka', sans-serif;
  text-align: center;
  margin: 0;
  padding-top: 60px;
  background: url(Images/BG\ FOR\ COLOR\ CUSTOMIZATION\(2\).png);
  opacity: 0.4s;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  color: #333;
}

  .body.content {
    z-index: 2;
  }
  

h1 {
    font-size: 60px;
    font-weight: bold;
    color: #fff;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
    margin-bottom: 10px;
  }

h2 {
  font-size: 30px;
  font-weight: bold;
  margin: 30px;
  margin-top: 90px;
}

ul {
    list-style-type: circle;
    text-align: left;
    max-width: 700px;
    margin: 20px auto;
    padding-left: 20px;
  }

  ul li {
    margin-bottom: 20px; 
  }

  p {
    max-width: 800px;
    margin: 10px auto;
    font-size: 16px;
    line-height: 1.6;
  }

header {
  background: #7e7e7e;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding: 5px 20px;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
}

.logo-nav {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: space-between;
}

header img {
  height: 50px;
  margin-right: 20px;
}

.nav-links {
    font-family: 'Fredoka', sans-serif;
  margin: 5px;
  display: flex;
}

.nav-links a {
  color: #ffffff;
  text-decoration: none;
  margin-left: 20px;
  font-size: 18px;
  padding: 8px 12px;
  display: inline-block;
  transition: background-color 0.3s;
  font-family: Verdana, sans-serif;
}

.nav-links a:hover {
  color: #ffffff;
  border-radius: 4px;
  background-color: #8f8f8f;
}

.cover {
  width: 100%;
  height: 600px;
  background-color: rgb(71, 71, 71);
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

.title-image {
  position: absolute;
  top: 20px;
  left: 50%;
  transform: translateX(-50%);
  max-width: 80%;
  height: auto;
  z-index: 1;
}

.cover video {
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.play-button {
  position: absolute;
  bottom: 70px;
  left: 50%;
  transform: translateX(-50%);
  padding: 12px 24px;
  background: #666;
  color: white;
  text-decoration: none;
  border-radius: 4px;
  font-weight: bold;
  font-size: 30px;
  box-shadow: inset -4px -3px 5px rgba(0, 0, 0, 0.5);
  z-index: 2;
  font-family: 'Fredoka', sans-serif;
  font-size: 2rem;
  font-weight: bold;
}

.play-button:hover {
  background: #555;
  box-shadow: inset 3px 3px 5px rgba(0, 0, 0, 0.5);
}

.section-fade-image {
position: relative;
  width: 100%;
  height: 500px;
  margin-top: -150px;
  z-index: -2;
  object-fit: cover;
  pointer-events: none; 

  mask-image: linear-gradient(to bottom, transparent 0%, black 40%, black 90%, transparent 100%);
}

.overview-frame {
  background: url('Images/overview-frame.png') no-repeat center center;
  background-size: contain;
  width: 90%;
  max-width: 1000px;
  margin: 30px auto;
  padding: 60px 50px;
  box-sizing: border-box;
  position: relative;
  aspect-ratio: 16 / 9;
}

.overview-content {
    background-color: rgba(255, 255, 255, 0);
    padding: 20px;
    border-radius: 10px;
    height: 100%;
    overflow: auto;
    font-size: 18px;
    line-height: 1.6;
}

.carousel-container {
    position: relative;
    max-width: 800px;
    margin: 40px auto;
    overflow: hidden;
    border-radius: 10px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
}
  
.carousel-slide {
    display: flex;
    transition: transform 0.5s ease-in-out;
    width: fit-content;
}
  
.carousel-slide img {
    width: 800px;
    height: auto;
    border-radius: 10px;
    flex-shrink: 0;
}
  
.carousel-btn {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: rgba(0,0,0,0.5);
    color: white;
    border: none;
    font-size: 30px;
    padding: 10px;
    cursor: pointer;
    z-index: 10;
    border-radius: 50%;
    transition: background-color 0.3s ease;
}
  
.carousel-btn:hover {
    background-color: rgba(0, 0, 0, 0.8);
}
  
.carousel-btn.prev {
    left: 10px;
}
  
.carousel-btn.next {
    right: 10px;
}

.section {
    padding: 60px 20px;
    text-align: center;
    opacity: 0;
  transform: translateY(50px);
  transition: opacity 1s ease, transform 1s ease;
  }

  .section.show {
    opacity: 1;
    transform: translateY(0);
  }

  .section:nth-child(odd) {
    transition-delay: 0.2s;
  }
  .section:nth-child(even) {
    transition-delay: 0.4s;
  }
  
  .features-row {
    display: flex;
    justify-content: center;
    gap: 4rem;
    flex-wrap: nowrap; 
    overflow-x: auto; 
    padding: 50px;
  }

  .feature-item {
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 6px 15px rgba(0, 0, 0, 0.1);
    width: 300px;
    padding: 20px;
    text-align: center;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
  }

  .feature-item:hover {
    transform: scale(1.05);
    transform: translateY(-5px);
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.2);
  }

  .feature-box {
    transition: transform 0.3s ease, box-shadow 0.3s ease;
  }

  .feature-box img {
    width: 100%;
    height: 180px;
    object-fit: cover;
    border-radius: 15px;
    margin-bottom: 15px;
  }
  
  .feature-item:hover .feature-box {
    transform: scale(1.05);
  }
  
  .feature-item:hover .feature-text {
    transform: scale(1.05);
  }

  @media (max-width: 1024px) {
    .features-row {
      flex-wrap: wrap;
    }
    .feature-item {
      flex: 1 1 45%;
      margin-bottom: 2rem;
    }
  }
  
  @keyframes fadeInUp {
    0% {
      opacity: 0;
      transform: translateY(30px);
    }
    100% {
      opacity: 1;
      transform: translateY(0);
    }
  }
  
  .fade-in-up {
    animation: fadeInUp 1s ease forwards;
    opacity: 0;
  }
  
  .learn-more-button {
    display: inline-block;
    margin-top: 2rem;
    margin-bottom: 50px;
    padding: 12px 24px;
    background: #666;
    color: white;
    text-decoration: none;
    border-radius: 4px;
    font-weight: bold;
    font-size: 2rem;
    z-index: 3;
    font-family: 'Fredoka', sans-serif;
    box-shadow: inset -4px -3px 5px rgba(0, 0, 0, 0.5);
  }
  
  .learn-more-button:hover {
    background: #555;
    box-shadow: inset 3px 3px 5px rgba(0, 0, 0, 0.5);
  }

  .single-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 50px 100px;
    opacity: 1;
    transition: transform 0.3s ease;
  }
  
  .single-container img {
    max-width: 800px;
    width: 100%;
    height: auto;
    border-radius: 20px; /* Optional: rounded corners */
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.2); /* Optional: drop shadow */
  }

  .single-container video {
    max-width: 800px;
    width: 100%;
    height: auto;
    border-radius: 20px;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.2);
  }

  .single-container:hover {
    transform: scale(1.05);
    transform: translateY(-5px);
  }

  #hero-video {
    position: relative;
    padding: 80px 20px;
  }

  .video-wrapper {
    width: 70%;
    max-width: 300px; 
    margin: 50px auto;
    position: relative;
    border-radius: 20px;
    overflow: hidden;
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.3);
  }

  .video-wrapper video {
    width: 50%;
    display: block;
    border-radius: 20px;
  }
  
  .video-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(to bottom, rgba(0,0,0,0.8), rgba(0,0,0,0.4));
    z-index: 2;
    transition: opacity 0.5s ease;
    border-radius: 20px;
  }
  
  .video-btn {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(0, 0, 0, 0.6);
    border-radius: 50%;
    width: 60px;
    height: 60px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 3;
    transition: opacity 0.3s ease;
  }

  .video-btn svg {
    fill: #fff;
  }

  .video-btn:hover {
    transition: opacity 1 ease;
  }
  
  .team-container {
    background: url(Images/SCORE\ PANEL.png)no-repeat center center;
    background-size: contain;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 100px; /* increased spacing between rows */
    padding: 30px 0;
    padding-top: 60px;
    border-radius: 20px;
  }
  
  .team-row {
    display: grid;
    gap: 40px;
  }
  
  .row-4 {
    grid-template-columns: repeat(4, 1fr);
    margin-bottom: 50px;
  }
  
  .row-3 {
    grid-template-columns: repeat(3, 1fr);
    justify-content: center;
  }
  
  
  @media (max-width: 768px) {
    .team-container {
      grid-template-columns: repeat(2, 1fr); /* 2 columns on tablets */
    }
  }
  
  @media (max-width: 500px) {
    .team-container {
      grid-template-columns: 1fr; /* 1 column on phones */
    }
  }
  
  .team-member {
    background-color: #ddd;
    border-radius: 15px;
    padding: 60px 20px 20px; 
    text-align: center;
    transition: transform 0.3s ease;
    position: relative; 
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .team-member img {
    border: 5px solid rgb(255, 255, 255);
    width: 120px;
    height: 120px;
    object-fit: cover;
    clip-path: polygon(
      25% 5%, 75% 5%,
      100% 50%,
      75% 95%, 25% 95%,
      0% 50%
    );
    background-color: #fff;
    box-shadow: 0 4px 8px rgba(0,0,0,0.5);
    position: absolute;
    top: -60px; /* Moves it up to overlap the card */
  }

  .team-member:hover {
    background-color: #cfcfcf;
    transform: scale(1.05);
    box-shadow: 0 4px 8px rgba(0,0,0,0.2);
  }

  .contact-form {
    max-width: 600px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    gap: 15px;
    font-family: 'Fredoka', sans-serif;
  }
  
  .contact-form input,
  .contact-form textarea {
    padding: 10px;
    border: 2px solid #ccc;
    border-radius: 10px;
    font-size: 16px;
  }
  
  .contact-form button {
    background: #666;
    color: white;
    padding: 1rem;
    font-size: 1.1rem;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    font-weight: bold;
    font-family: 'Fredoka', sans-serif;
    box-shadow: inset -4px -3px 5px rgba(0, 0, 0, 0.5);
  }
  
  .contact-form button:hover {
    background: #555;
    box-shadow: inset 3px 3px 5px rgba(0, 0, 0, 0.5);
  }
  
  footer {
    color: #555;
    padding: 20px 0;
    text-align: center;
  }

  /* Social icons container */
  .social-icons {
    display: flex;
    justify-content: center;
    gap: 15px;
    margin-top: 10px;
  }

  /* Icon link styling */
  .social-icons a {
    color: #808080;
    padding: 12px;
    font-size: 20px;
    width: 44px;
    height: 44px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color 0.3s;
  }

  /* Hover effects */
  .social-icons a:hover {
    color: #333;
  }

  .logo-row {
    display: flex;
    justify-content: center;
    gap: 15px;
    margin: 0 30px 15px 30px;
    padding: 0 20px;
    overflow: hidden;
  }

  .mini-logo {
    width: 44px;
    height: 44px; /* Same height as social icons */
    object-fit: contain;
    display: inline-block;
    transition: filter 0.3s ease;
  }

  .mini-logo:hover {
    filter: brightness(0.8);
  }
